.footerWrapper {
    position: relative;
    width: 100%;
    margin-top: auto;
    background-color: #002E47;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.logo {
    position: absolute;
    top: -60px;
    left: 20px;
    width: 120px;
    height: 120px;
    z-index: 10;
}
  
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.footer {
    background-color: #002E47;
    padding: 20px;
    width: 100%;
    text-align: center;
    min-height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}
  
.copyright {
    color: white;
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
}
  
/* Responsividad */
@media (max-width: 768px) {
    .footerWrapper {
        margin-top: 0;
        position: relative;
        bottom: 0;
        background-color: #002E47;
    }
  
    .logo {
        width: 100px;
        height: 100px;
        top: -50px;
    }
  
    .footer {
        padding: 15px;
        min-height: 70px;
        background-color: #002E47;
    }
  
    body {
        background-color: #002E47;
    }
}
  