.adminContainer {
    height: 100vh; 
    display: flex; 
}

.sideBar {
    width: 250px;
    background: white;
    color: white;
    padding: 8rem 0rem 0;
    position: fixed;
    top: 0;
    left: 0;
}

.sideBar h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.sideBar ul {
    list-style: none;
    padding: 0;
}

.sideBar li {
    margin-bottom: 15px;
}

.sideBar a {
    display: flex;
    align-items: center;
    color: #023047;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sideBar a:hover {
    background: #f4f5f7;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.content {
    margin-left: 250px;  
    width: calc(100% - 250px); 
    height: auto;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsContainer{
    margin: 10em 20px;
    width: 90vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.tableContainer {
    width: 70vw;
    max-height: 60vh; 
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.tableContainer::-webkit-scrollbar {
    display: none; 
}

.table thead {
    position: sticky;
    top: 0;
    background-color: #343a40;
    color: white;
    z-index: 10;
}


@media (max-width: 1369px) {
    .container {
        padding-top: 200px;
    }
    
    .tableContainer {
        max-height: 50vh; 
    }
}












