.mainContainer {
    margin-top: 80px;
    background-color: #FFF1CD;
    padding: 20px 0 100px 0;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 80px);
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.title{
    font-weight: bold;
    color: black;
}

.subtitle{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: rgba(33, 158, 188, 1);
    padding-left: 50px;
    padding-top: 30px;
}

.arrowIcon {
    margin-top: 30px;
    position: absolute; 
    top: 80px; 
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media screen and (min-width: 1800px) and (max-width: 2100px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 270px;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1799px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 230px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1449px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 70px;
    }
}

@media screen and (min-width: 731px) and (max-width: 767px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 20px;
    }
}

@media screen and (max-width: 730px) {
    .titleContainer {
        justify-content: flex-start;
        margin-left: 20px;
    }

    .subtitle{
        padding-left: 10px;
        font-size: 20px;
    }

    .mainContainer {
        position: relative;
        margin-top: 60px;
        padding-bottom: 80px;
        min-height: auto;
        margin-bottom: 0;
    }

    body {
        overflow-y: auto !important;
        position: relative !important;
        height: auto !important;
    }

    html {
        overflow-y: auto !important;
        height: auto !important;
    }
}


