.mainContainer {
    margin-top: 100px;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.arrowIcon {
    font-size: 1.8rem; 
    color: #333; 
    position: absolute; 
    top: 80px; 
    right: 15px;
}